<!-- File name: about.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description:It is showing the information about Tanveer Kalia.  -->
<% include partials/header %>
<body>
    <h1><%= title %></h1>
    <p>My name is Tanveer Kalia. I am in COPR course. It is very last semester here,</p>
    <p>After this, I just need to complete a Co-op work term and then I will be graduated.</p>
<% include partials/footer %>