<!-- File name: index.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description:  -->
<% include partials/header %>
    <h1><%= title %></h1>
    <p>Hi everyone</p>
    <p>This is <mark>Home Page</mark> of the web site. It is the very first page of the website.</p>
<% include partials/footer %> 
