<!--File name: projects.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description:  -->
<% include partials/header %>
<body>
    <h1><%= title %></h1>
    <p><b>HTML Rockstar</b></p>
    <p>I created this project on the basis of simple HTML and CSS. It was just a simple page</p>
    <p>which use to create forms which need to be updated by the user.</p>

    <p><b>IOT</b></p>
    <p>I create a train which send its position after every 10 minutes to the user's cellphone using IFTTT.</p>
<% include partials/footer %>