<!-- File name: services.ejs
Author's name: Tanveer
Website name: azuresite.com
File Description:  -->
<% include partials/header %>
<body>
    <h1><%= title %></h1>
    <p>JAVA</p>
    <p>Enterprise Computing</p>
    <p>Database</p>
<% include partials/footer %>